In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn import linear_model
import warnings
warnings.filterwarnings('ignore')
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report

In [10]:
iris = load_iris()
iris = pd.read_csv("C:\\Users\\sharath\\Desktop\\analysis\\ML\\iris.csv")

In [12]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
x = iris.drop(columns="Species")
y=iris["Species"]

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4,random_state=1)

In [17]:
gnb=GaussianNB()
gnb.fit(x_train,y_train)

GaussianNB()

In [20]:
y_pred=gnb.predict(x_test)
y_pred

array(['setosa', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'virginica',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'virginica',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'virginica',
       'setosa', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'virginica', 'setosa', 'versicolor', 'virginica', 'versicolor',
       'virginica', 'setosa', 'setosa', 'setosa', 'versicolor', 'setosa',
       'setosa', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'versicolor', 'virginica', 'versicolor'], dtype='<U10')

In [21]:
pd.crosstab(y_test,y_pred,margins=True)

col_0       setosa  versicolor  virginica  All
Species
setosa          19           0          0   19
versicolor       0          19          2   21
virginica        0           1         19   20
All             19          20         21   60

In [22]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[19,  0,  0],
       [ 0, 19,  2],
       [ 0,  1, 19]], dtype=int64)

In [24]:
pd.crosstab(y_test,y_pred,margins=True)

col_0       setosa  versicolor  virginica  All
Species
setosa          19           0          0   19
versicolor       0          19          2   21
virginica        0           1         19   20
All             19          20         21   60

In [26]:
print("gaussian naive bayes model accuracy(in %):",metrics.accuracy_score(y_test,y_pred)*100)

gaussian naive bayes model accuracy(in %): 95.0

In [27]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        19
  versicolor       0.95      0.90      0.93        21
   virginica       0.90      0.95      0.93        20

    accuracy                           0.95        60
   macro avg       0.95      0.95      0.95        60
weighted avg       0.95      0.95      0.95        60